@page "/"

<PageTitle>NO AI !!!</PageTitle>

<h1>No to AI!!</h1>

<img src="https://preview.redd.it/say-no-to-ai-generated-images-v0-9wt0zdtidd6a1.jpg?auto=webp&s=d2dc015a5a26ee6075fda7d8430ea47a92769e01"
    height="500"/>
